ADO_ORG=
ADO_PROJECT=
ADO_PAT=
ADO_CUSTOMER_FIELD=Custom.CustomerId
ADO_WORK_ITEM_TYPES=Incident,Major Incident,Service Request,Operational Task,Task,User Story,Feature,Epic,Bug,Issue
CUSTOMER_TOKEN_SECRET=
ADMIN_API_TOKEN=
LOCAL_DEV_CUSTOMER_ID=
NEXT_PUBLIC_MOCK_MODE=true
MOCK_MODE=true
